{% if request.user.is_authenticated and request.user.is_staff %}
	{% block admin_panel %}
		<div class="admin-panel text-center mt-5">
			<div class="list-group list-group-horizontal mb-1">
				<a id="admin-link" class="list-group-item list-group-item-action" href="/admin">
					Admin
				</a>
			</div>

			{% if not detail %}
				<div class="list-group list-group-horizontal">
					<a id="create-link" class="list-group-item list-group-item-action" href="{% url 'post_create_url' %}">
						Post
					</a>
					
					<a id="create-link" class="list-group-item list-group-item-action" href="{% url 'tag_create_url' %}">
						Tag
					</a>
				</div><!-- list-group list-group-horizontal-->

			{% else %}
				<div class="list-group list-group-horizontal">
					<a id="update-link" class="list-group-item list-group-item-action" href="{{ admin_object.get_update_url }}">
						Update
					</a>
					<a id="delete-link" class="list-group-item list-group-item-action" href="{{ admin_object.get_delete_url }}">
						Delete
					</a>
				</div><!-- list-group list-group-horizontal-->
			{% endif %}

		</div><!-- admin-panel text-center mt-5 -->
	{% endblock %}
{% endif %}
