<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__block">
				<h4 class="mb-2"><a href="https://www.aiu.kz" target="_blank">aiu.kz</a></h4>
				<a href="https://www.aiu.kz" target="_blank">Astana International University</a>
			</div>

			<div class="footer__block">
				<h4 class="mb-2"><a href="#" target="_blank">instagram</a></h4>
				<a href="#" target="_blank">Find out more about us</a>
			</div>
			
			<div class="footer__block">
				<h4 class="footer__text mb-2">Contacts</h4>
				<address class="footer__text">
	                <div>Kazakhstan, Nur-Sultan</div>
	                <div>Kabanbay batyr avenue 8</div>
        		</address>
			</div>
		</div><!-- /.footer__inner -->
	</div><!-- ./container -->
</footer><!-- ./footer -->