{% extends 'staff/base_staff.html' %}


{% block title %}
	Staff – {{ block.super }}
{% endblock%}


{% block intro %}
	<h1 class="intro__title">Information Technologies and Engineering</h1>
	<h1 class="display-3">Staff</h1>
{% endblock %}


{% block content %}
	<div class="col-sm-12 col-lg-8">
		{% if page.object_list.exists %}

			{% for member in page.object_list %}
				<div class="card">
					{% if member.thumbnail %}
						<a href="{{ member.get_absolute_url }}">
							<img src="{{ member.thumbnail.url }}" class="card-img-top" alt="">
						</a>
					{% endif %}
					<div class="card-body">
						<div class="card-title">
							<a href="{{ member.get_absolute_url }}" class="post_link">
								{{ member.name }}
							</a>
						</div>
						<div class="mb-4">
							{% for tag in member.tags.all %}
								{% if forloop.first %}
									<a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
								{% else %}
									|<a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
								{% endif %}
							{% endfor %}
						</div>
						<div class="card-text">{{ member.academic_degree|linebreaks }}</div>
					</div>
				</div><!-- ./card -->
			{% endfor %}
			

			{% include 'feed/includes/pagination_template.html' %}
			
		{% else %}
			<h3>There's no any content</h3>
		{% endif %}
	</div>

	<div class="col-sm-12 col-lg-4">
		<div class="card">
			<div class="card-header">
				<h5>Tags Cloud<h5>
			</div>
			<ul class="list-group list-group-flush">
				{% for tag in tags %}
					<a href="{{ tag.get_absolute_url }}" class="list-group-item list-group-item-action">
						{{ tag.title|title }}
					</a>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}